/*
Theme Name: WP Bootstrap Starter
Theme URI: https://afterimagedesigns.com/wp-bootstrap-starter/
Author: Afterimage Designs
Author URI: https://afterimagedesigns.com/
Description:  The best WordPress starter theme based on the most powerful frameworks in the world: "_s" (by Automattic, the main people behind WordPress development), Twitter Bootstrap (the most popular HTML, CSS, and JS framework for developing responsive, mobile first projects on the web) and Font Awesome (or Fontawesome, a full suite of 675+ pictographic icons for easy scalable vector graphics on websites). This theme, like WordPress, is licensed under the GPL. You can use this theme as base for your next WordPress theme project and you are allowed to remove the link at the footer or do whatever you want. Your feedback on how we can continuously improve this WordPress Starter Theme Bootstrap will be highly appreciated. Page templates includes Right-sidebar (default page template), Left-Sidebar, Full-Width, Blank with container, Blank without container Page. Other features - Currently using Bootstrap v4.0.0-beta.2 , Widgetized footer area, WooCommerce ready, Compatible with Contact Form 7, Compatible with Visual Composer, Compatible with Elementor Page Builder. This theme will be an active project which we will update from time to time. Check this page regularly for the updates.
Version: 3.0.1
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: wp-bootstrap-starter
Tags: blog, custom-menu, featured-images, threaded-comments, translation-ready, right-sidebar, custom-background, e-commerce, theme-options, sticky-post, full-width-template
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
# Woocommerce
# Footer
--------------------------------------------------------------*/

#rig {
  max-width:1000px;
  /*margin:0 auto; /*center aligned*/
  /*padding:0;*/
  font-size:0; /* Remember to change it back to normal font size if have captions */
  list-style:none;
  background-color:#000;
  vertical-align:middle;
}

#rig2 {
  max-width:1000px;
  /*margin:0 auto; /*center aligned*/
  /*padding:0;*/
  font-size:0; /* Remember to change it back to normal font size if have captions */
  list-style:none;
  background-color:#000;
  vertical-align:middle;
}
#rig li {
  display: inline-block;
  *display:inline;/*for IE6 - IE7*/
  width:100%;
  vertical-align:middle;
  box-sizing:border-box;
 /* margin:0;
  padding:0;*/
}
      
/* The wrapper for each item */
.rig-cell {
  /*margin:12px;
  box-shadow:0 0 6px rgba(0,0,0,0.3);*/
  display:block;
  position: relative;
  overflow:hidden;
}
      
/* If have the image layer */
.rig-img {
  /*display:block;*/
  width: 100%;
  
  height: auto;
  border:none;
  transform:scale(1);
  transition:all 1s;
}


.rig-img2 {
  /*display:block;*/
  width: 100%;
  
  height: auto;
  border:none;
  transform:scale(1);
  transition:all 1s;
}

#rig li:hover .rig-img {
  transform:scale(1.05);
}
      
/* If have the overlay layer */
.rig-overlay {
  position: absolute;
  display:block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: rgb(247, 226, 159) url(img/link.png) no-repeat center 20%;
  background-size:100px 100px;
  opacity:0;
  filter:alpha(opacity=0);/*For IE6 - IE8*/
  transition:all 0.6s;
}



/* If have the overlay layer */
.rig-overlay2 {
  position: absolute;
  display:block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: rgb(196, 54, 29) url(img/link.png) no-repeat center 20%;
  background-size:100px 100px;
  opacity:0;
  filter:alpha(opacity=0);/*For IE6 - IE8*/
  transition:all 0.6s;
}




#rig li:hover .rig-overlay {
  opacity:0.8;
}

/* If have captions */
.rig-text {
  display:block;
  padding:0 30px;
  box-sizing:border-box;
  position:absolute;
  left:0;
  width:100%;
  text-align:center;
  text-transform:capitalize;
  font-size:18px;
  font-weight:bold;
  font-family: 'Oswald', sans-serif;
  font-weight:normal!important;
  top:40%;
  color:white;
  opacity:0;
  filter:alpha(opacity=0);/*For older IE*/
  transform:translateY(-20px);
  transition:all .3s;
}
#rig li:hover .rig-text {
  transform:translateY(0px);
  opacity:0.9;
}

@media (max-width: 9000px) {
  #rig li {
      width:100%;
  }
}

@media (max-width: 700px) {
  #rig li {
      width:100%;
  }
}

@media (max-width: 550px) {
  #rig li {
      width:50%;
  }
}




.html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  font-size: 100%;

  font-family: 'Source Sans Pro', sans-serif;
	font: inherit;
	vertical-align: baseline;
}

.h3{
  font-family: 'Source Sans Pro', sans-serif;
}
.btituloblanco{
  color: white
}


.textcajas{
  text-align: left
}




.button {
  border: 2px solid #769E30;
  border-radius: 5px;
  color: #769E30;
  padding: 16px 32px;
  text-align: center;
  /*text-decoration: none;*/
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
 /* background-color: linear-gradient(to right,rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);*/
 /* background-color: #4CAF50; /* Green */
 background-color: #769E30;
 color: white;
}

.strong { 
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

.imgjornadalimpieza {
  max-width: 100%;
  width:auto;
  max-height:80%;
  height:auto;
  border: 2px solid;
  border-radius: 5px;
}

.imgsenderoemilio {
  max-width: 100%;
  width:auto;
  max-height:100%;
  height:auto;
  border: 2px solid;
  border-radius: 5px;
}

.imgactividades {
  max-width: 100%;
  width:auto;
  max-height:100%;
  height:auto;
  border: 2px solid;
  border-radius: 5px;
}

.collapse{
  border: 2px solid #769E30;
  border-radius: 5px;
  color: black;
  padding: 16px 32px;
  text-align: justify;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.textocontainer{
 font-family: 'Source Sans Pro', sans-serif;
 text-align: center;
  margin: 0 auto;
  width: 30em;
}


.textocontainer2{
  text-align:justify;  
    text-justify:inter-word;
  margin: 0 auto;
  width: 30em;
}

.center-justified{
  text-align: left;
  margin: 0 auto;
  width: 30em;
}

.left{
  text-align: left;  
}

imgin {
  display: block; 
  margin: 0 auto;
  max-width: 100%;
  width: 80%;
}
.v-container {
	position: relative;
	padding-bottom: 56.25%; /* proporción 16:9 */
	padding-top: 0;
	height: 0;
}

.v-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

